.hero-section {
    background: url('/images/Campus-photos/camp.jpg') no-repeat center center/cover;
    height: 70vh;
    opacity: 0.9;
    font-family: "Poppins", sans-serif;
    color: #fdf8f8;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero-section p {
    font-size: 1rem;
}






