.navbar {
    background-image: linear-gradient(to right, #00aaff, #00ffdd);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  // Underline effect on the nav list
  .underline-hover {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
}

.underline-hover::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: 0;
    left: 10px;
    background-color: #f85a40;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.underline-hover:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Active link underline effect */
.active-link::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Nav dropdown */
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: #333;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #fff;
    background-color: #f85a40;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
  
  // Button gradient for nav
  .gradient-button {
    color: white; /* Text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  
  .gradient-button:hover {
    background-image: linear-gradient(to right, #00aaff, #00ffdd); 
    border: none;
  }