@use '../custom' as *;


.subscribe-section {
    padding: 60px 0;
    background-color: #abafb379;
}

.subscribe-section .input-group {
    max-width: 700px;
    margin: 0 auto;
}

.subscribe-section .form-control {
    border-radius: 20px 0 0 20px;
}

.subscribe-section .btn {
    border-radius: 0 20px 20px 0;
}

.sponsors-section img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Sponsors Section Specific Styling */
.sponsors-section .sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sponsors-section .sponsor-logos img {
    max-width: 150px;
    max-height: 100px;
    margin: 10px;
    border-radius: 10px;
}