@use '../custom' as *;

.parent-dashboard-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .parent-dashboard-card .card-header {
    background-color: #f85a40;
    color: #fff;
    font-weight: 600;
  }
  
  .parent-dashboard-btn {
    background-color: #f85a40;
    border: none;
  }
  
  .parent-dashboard-btn:hover {
    background-color: #e74c3c;
  }
  
  .parent-dashboard-section {
    margin-top: 40px;
  }
  
  .parent-dashboard-link {
    cursor: pointer;
  }
  
  .parent-dashboard-link.active {
    background-color: #f85a40;
    border-color: #f85a40;
  }
  
  .table thead {
    background-color: #f85a40;
    color: #fff;
  }
  
  .parent-dashboard-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .text-center {
    text-align: center;
  }