@use '../custom' as *;

.menu-item {
    font-weight: normal;
}

.profile-container {
  background-color: rgb(250, 243, 243);
    padding: 2rem 0;
  }
  
  .cover-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .profile-info {
    margin-left: 20px;
  }
  
  .profile-picture {
    margin-top: -80px;
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
  }
  
  .profile-name {
    font-size: 1.5rem;
  }

  .department {
    margin-top: -10px;
  }

  .info {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 32px 64px;
    background-color: #fff;
    margin: 20px 30px;
    padding: 50px 20px;
  }

  .personal-details {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2),
                inset -2px -2px 5px rgba(255, 255, 255, 0.7);
    padding: 20px 15px;
    height: 370px;
  }

  .about-me{
    border: 3px solid transparent;
  }

  @media (max-width: 767.98px) {
    .profile-info {
      margin-left: 48px;
    }
    .reduce{
      font-size: 0.5rem;
    }
  
    .profile-picture {
      width: 130px;
      height: 130px;
      margin-top: -70px;
    }
  
    .profile-name {
      font-size: 1.3rem;
    }
  
    .info {
      margin: 15px 25px;
      padding: 40px 20px;
    }
  
    .personal-details {
      height: auto;
      padding: 20px 15px;
      .list-group-item {
        flex-direction: column;
        align-items: flex-start;
        & span {
    margin-top: 0.5rem;
  }
      }
    }
  }