@use '../custom' as *;


.move {
    margin-top: 150px;
    margin-bottom: 20px;
}

.noline {
    text-decoration: none;
    color: #1a1918;
}

.label-name{
        display: inline-block;
        height: 100%;
        margin: 0 20px;
        line-height: 60px;
        font-size: 18px;
        cursor: pointer;
        transition: .5s;
}

// login form for students, parents, and teachers

.login-form {
    margin: 150px 0;
    padding: 50px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

  .btn-lg {
    width: 200px;
  }

  .no-line {
    text-decoration: none;
    padding: 10px;
  }

  .admin .form-row {
    display: flex;
    justify-content: space-between;
}

.admin .form-row .admin-input-group {
  width: calc(50% - 10px);
}

.admin .admin-input-group {
    position: relative;
    margin-bottom: 20px;
}

.admin .admin-input-group input,
.admin .admin-input-group select,
.admin .admin-input-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.admin .admin-input-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    padding: 0 5px;
    color: #aaa;
    transition: all 0.3s;
    pointer-events: none;
}

.admin .admin-input-group input:focus,
.admin .admin-input-group select:focus,
.admin .admin-input-group textarea:focus {
    border-color: #00aaff;
}

.admin .admin-input-group input:focus + label,
.admin .admin-input-group select:focus + label,
.admin .admin-input-group textarea:focus + label,
.admin .admin-input-group input:not(:placeholder-shown) + label,
.admin .admin-input-group select:not(:placeholder-shown) + label,
.admin .admin-input-group textarea:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    color: #000;
    font-size: 12px;
}

textarea {
    resize: vertical;
}

.btn-block {
    width: 60%;
}

.btn-rounded {
    border-radius: 50px;
}